<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/style.css" />
</head>

<body class="full">
    <div class="rip">
        <div class="rip-404">
            <h1>=(</h1>
            <h2>Well that's unfortunate.</h2>
        </div>
        <p><%= err %>
        </p>
        <a href="javascript:history.back()">Try again</a>
    </div>
</body>

</html>