<!DOCTYPE html>
<html lang="en">

<head>
	<title>404</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/style.css" />
</head>

<body class="full">
	<div class="rip">
		<div class="rip-404">
			<h1>404</h1>
			<h2>WARNING: This link connects the abyss!</h2>
		</div>
		<a href="/">Back to Safety!</a>
	</div>
</body>

</html>